# WiFi credentials
WIFI_SSID="YourWiFiSSID"
WIFI_PASSWORD="YourWiFiPassword"

# Mesh SoftAP credentials
MESH_SOFTAP_SSID="ESP"
MESH_SOFTAP_PASSWORD="12345678"
MESH_ID=77

# MQTT Broker
MQTT_BROKER="broker.hivemq.com"
MQTT_PORT=1883
MQTT_USER=""
MQTT_PASSWORD=""
